.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 6rem;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--primary-font);
  box-sizing: border-box;
}
/*Ventana para hacer los pedidos*/
.cartWindow {
  width: 100vw;
  height: auto;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  color: black;
  box-sizing: border-box;
  padding: 2.5rem 4rem;
}
.container_products {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  gap: 1rem;
  border: 10px solid var(--primary-bg-color);
  background-color: white;
  box-shadow: inset 6px 6px 5px -2px rgba(0, 0, 0, 0.6);
  border-radius: 8px 0 0 8px;
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.6);


}
.product {
  width: 100%;
  min-height: 10rem;
  border: 5px solid var(--primary-bg-color);
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.product img {
  max-width: 6rem;
  object-fit: cover;
}
.product input {
  height: auto;
  padding: 10px 25px;
}
.container_input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.button {
  padding: 10px 15px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.76);
}
.container_form {
  background-color: var(--primary-bg-color);
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1024px) {
  .cartWindow {
    padding: 0 2rem;
    margin-bottom: 2.5rem;
  }


}
@media (max-width: 800px) {
  .container_content {
    padding: 0 4rem;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 0.7fr;
  }
  .cartWindow {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    padding: 0 1rem;
  }
}
@media (max-width: 400px) {
  .container_content {
    display: none;
  }
  .pantallaMovil {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
  }
}
