.quantity_selector {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--primary-font);
}

.quantity_btn {
  background-color: #007bff00;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity_btn:hover {
  background-color: var(--primary-bg-color);
  color: white;
  border: 2px solid white;
}

.quantity_display {
  font-size: 18px;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}
