.locationMain {
  width: 100vw;
  padding: 4rem 8rem;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.locationContainer {
  display: flex;
  flex-wrap: wrap; /* Para que se adapte en pantallas pequeñas */
  gap: 2.5rem;
  justify-content: space-between;

}

.locationInfo {
  flex: 1; /* Ocupa el espacio necesario */
  min-width: 300px; /* Ancho mínimo para columnas pequeñas */
}

.locationTitle {
  font-size: 4rem;
  margin: 1rem 0;
  color: #333;
  
}

.locationDetails {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
  font-family: "Open Sans", sans-serif;

}

.locationAddress,
.locationHours {
  margin-bottom: 0.5rem;

}

.locationMap {
  flex: 1;
  min-width: 300px;
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;

}

.mapLink {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #0f4b06;
  text-decoration: none;
  transition: color 0.3s ease;
}

.mapLink:hover {
  color: #000000;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 1024px) {
  .locationMain {
    padding: 2rem 5rem;
  }
  .locationDetails {
    font-size: 1rem;
  }
  .locationTitle {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .locationMain {
    padding: 2rem 5rem;
  }
  .locationContainer {
    flex-direction: column; /* Columnas una debajo de la otra */
  }


  .locationInfo,
  .locationMap {
    flex: unset; /* Anula el flex para adaptarse mejor */
  }
}
@media (max-width: 400px) {
  .locationMain {
    padding: 1rem;
  }
  .locationDetails {
    font-size: 1rem;
  }
  .locationTitle {
    font-size: 1.5rem;
    text-align: center;
  }
}
