.home_main {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.cart_container {
  position: relative;
}
@media (max-width: 400px) {
  .icon{
    width: 60px;
    top: 90vh;
  }
}