.home_main {
  width: 100vw;
  background-color: #efefef;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.icon_whatsapp {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 80px;
  height: 80px;
  z-index: 4;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.divider {
  width: 100vw;
  height: 80vh;
  background-color: var(--primary-bg-color);
}
.icon_whatsapp img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.icon_whatsapp img:hover {
  transform: scale(1.5);
}
@media (max-width: 800px) {
  .icon_whatsapp {
    width: 100px;
    height: 100px;
    top: 85vh;
  }
}
@media (max-width: 400px) {
  .icon_whatsapp {
    width: 60px;
    height: 60px;
    top: 88vh;
  }
}
