.card_main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   border: 5px solid var(--primary-bg-color);

}
.container_image {
    width: 100%;
    height: 80%;

}
.container_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container_title{
    width: 100%;
    height: 20%;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}