.card_main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px;
  box-shadow: 6px 6px 5px -2px rgba(0, 0, 0, 0.6);
  position: relative;
}
.container_image {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  margin-top: 3rem;
}
.container_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.name_product {
  position: absolute;
  top: 0;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
  background-color: var(--primary-bg-color);
  z-index: 2;
}
.container_detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.container_isotipos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-bg-color);
  min-height: 3.5rem;
  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;
}
.container_title {
  color: white;
  text-align: start;
  box-sizing: border-box;
  padding-left: 0.5rem;
}
.button {
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(22, 209, 75);
  color: rgb(0, 0, 0);
}

.button:hover {
  background-color: rgb(165, 221, 181);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}
