.card_main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 5px solid var(--primary-bg-color);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px;
}
.container_image {
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.container_title {
  width: 100%;
  height: 30%;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding:  10px 5px;
  font-size: 1.1rem;
}
.product_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(.9);
}
.container_isotipos_up {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 2;

}
.container_isotipos_down {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: .5rem;

}
.button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(22, 209, 75);
  color: rgb(0, 0, 0);
}

.button:hover {
  background-color: rgb(165, 221, 181);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}
.container_eco{
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.container_eco img {
  width: 100%;

}