.header {
  width: 100vw;
  min-height: 20rem;
  margin-top: 7rem;
  display: flex;
  overflow: hidden; /* Oculta las imágenes fuera del contenedor */
  position: relative;
}

.image_container {
  display: flex; /* Coloca las imágenes en una fila */
  width: 300%; /* Tres imágenes, por lo tanto 3 veces el ancho del contenedor */
  height: 100%;
  animation: slide 60s infinite; /* Animación automática */
}

.banner {
  width: 100%; /* Cada imagen ocupa el ancho del contenedor */
  height: 100%;
  object-fit: contain;
}

/* Animación para desplazar las imágenes */
@keyframes slide {
  0% {
    transform: translateX(0); /* Muestra la primera imagen */
  }
  33.33% {
    transform: translateX(-100%); /* Muestra la segunda imagen */
  }
  66.66% {
    transform: translateX(-200%); /* Muestra la tercera imagen */
  }
  100% {
    transform: translateX(0); /* Regresa a la primera imagen */
  }
}

@media (max-width: 780px) {
  .header {
    min-height: 10rem; /* Ajusta la altura en pantallas más pequeñas */
  }
}

@media (max-width: 400px) {
  .header {
    min-height: 8rem; /* Ajusta aún más la altura */
  }
}
