@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");



.icon {
  font-size: 1.5rem;
  font-weight: bold;
}


.orders_number {
  border-radius: 50%;
  color: white;
  background-color: #0a7c48;
  font-size: 0.7rem;
  padding: 4px 8px;
  box-sizing: border-box;
}

@media (max-width: 780px) {
  .navbar_main {
    width: 100vw;
  }
  .navbar_bottom {
    justify-content: space-between;
  }
  .navbar_logo {
    margin-left: 0.5rem;
  }
  .navbar_toggle {
    display: block;
    font-size: 1rem;
  }

  .navbar_links {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 7rem;
    right: 0;
    border-radius: 0 0 0 10px;
    background-color: white;
    padding: 1rem 3rem;
    box-shadow: -4px 4px 3px -2px rgba(0, 0, 0, 0.54);
  }

  .navbar_links a {
    margin: 0.5rem 0;
    color: #0a7c48;
    font-weight: 600;
    text-wrap: nowrap;
  }

  .navbar_links a:hover {
    color: black;
    border-bottom: none;
  }
}
@media (max-width: 400px) {
  .navbar_top {
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }
}
