.companyOverview_main {
  width: 100vw;
  height: auto;
  min-height: 50vh;
  font-family: var(--primary-font);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fbfcfc;
  box-sizing: border-box;
  padding: 2rem 0;
  gap: 2.5rem;
}
.container_up {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.container_description {
  max-width: 50%;
}
.container_description p {
  font-size: 1.1rem;
  padding: 0;
}
.title {
  font-size: 4rem;
}
.container_count {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  font-size: 2rem;
  color: var(--primary-bg-color);
  font-weight: 600;
}
.container_marcas {
  width: 99vw;
  height: 10rem;
  margin-top: 2rem;
  overflow: hidden; /* Oculta las imágenes fuera del contenedor */
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
}

.marquee {
  display: flex;
  animation: scroll 50s linear infinite; /* Duración ajustable */
}

.marquee img {
  height: 10rem;
  width: auto;
  margin-right: 1rem; /* Espaciado opcional entre imágenes */
  object-fit: contain;
  /* filter: grayscale(100%) brightness(0.99); */
}

/* Animación de desplazamiento */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .container_up {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

  }
  .container_description {
    max-width: 80%;
  }
  .companyOverview_main{
    min-height: 70vh;
  }
  .title {
    font-size: 4rem;
    width: 100%;
    text-align: center;

  }
  .count{
    font-size: 1.7rem;
  }

}
@media (max-width: 400px) {

  .container_description p {
    font-size: 1rem;
    padding: 20px 10px;
    max-width: none;
    width: 100%;
    margin: auto;
    text-align: center;
    margin:  0;
    box-sizing: border-box;
  }
  .count{
    font-size: 1.3rem;
  }
  .title {
    font-size: 2rem;
  }
}
