.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
}

.banner {
  flex: 1;
  position: relative;

  margin-top: 7rem;
  width: 100%;
}

.bannerImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(55%);
}

.bannerText {
  position: relative;
  color: var(--primary-bg-color);
  font-size: 5rem;
  font-weight: bold;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  font-weight: 900;
}
.bannerContent{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    height: 100%;
}
.footer {
  height: 15%;
  background-color: var(--primary-bg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .bannerText {
    font-size: 4rem;
  }
  .footerText {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .bannerText {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
.container{
    height: 80vh;
}
  .bannerText {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
  .footerText {
    font-size: 1.5rem;
  }
}
