.footer_main {
  width: 100vw;
  height: 50vh;
  background-color: black;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-family: var(--primary-font);
  padding: 2rem;
}

.contact_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2.5rem;
  align-items: start;
  text-align: start;
  font-size: 1.5rem;
}
.container_form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: sstart;
  font-size: 1.5rem;
}
.links {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 800px) {
    .contact_info{
        font-size: 1.2rem;
    }
    .container_form{
        font-size: 1.2rem;
        height: 50%;
        margin: auto;
    }   
    .links{
        font-size: 1.9rem;
    }
    }
    

@media (max-width: 400px) {
.footer_main{
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.contact_info{
    font-size: 1rem;
}
.container_form{
    font-size: 1rem;
}
.links{
    font-size: 1.5rem;
}
}
