@import "tailwindcss";

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/EastmanRomanTrial-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TituloBanner';
  src: url('/fonts/EastmanRomanTrial-BlackItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBold';
  src: url('/fonts/Montserrat-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBoldItalic';
  src: url('/fonts/Montserrat-BoldItalic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontExtraBoldItalic';
  src: url('/fonts/Montserrat-ExtraBoldItalic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-MontBold {
  font-family: 'MontBold', sans-serif;
}

.font-MontBoldItalic {
  font-family: 'MontBoldItalic', sans-serif;
}

.font-MontExtraBoldItalic {
  font-family: 'MontExtraBoldItalic', sans-serif;
}


.font-miFuente {
  font-family: 'MiFuente', sans-serif;
}

.font-banner {
  font-family: 'TituloBanner', sans-serif;
}


.app{
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  background-color: #efefef;

}
.button_cart {
  width: 70px;
  height: 50px;
  position: fixed;
  top: 7rem;
  left: 1.5rem;
  z-index: 5;

}
.button_cart img {
  width: 100%;
  height: 100%;
}
.button_cart span {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: red;
  font-size: 1.5rem;
  color: white;
  padding: 2px 8px;
}


.swiper-button-next,
.swiper-button-prev {
  color: #033908; /* Cambia el color de las flechas */
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.swiper-button-next,
.swiper-button-prev {
  top: 40%; /* Ajusta la posición horizontal */
}




.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #033908; /* Cambia el fondo al pasar el mouse */
  color: white; /* Cambia el color de las flechas al pasar el mouse */
}