
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efefef;

}
.primary_button{
  padding: 10px;
  min-width: 8rem;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: .5rem;
  background-color: var(--primary-bg-color);
  color: white;
}
.primary_button:hover{
  background-color: #0c9457;
  color: white;
}
:root {
  /*Fuentes*/
  --primary-font: "Montserrat", sans-serif;
  --primary-bg-color: #0a7c48;
  /*Animaciones*/
  --fade-in: fadeIn 0.5s ease-in-out forwards;
  --scale-up-center: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}